.home {
    text-align: center;
    color:#fff;
    padding-top:10em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    background-color: #9FD5ED;
  }
  
  * { color:#fff; text-decoration: none;}

 .agenda {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    background-color: #9FD5ED;
    color: black;
 } 


transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

form {
      margin: 10px auto;
      padding: 10px;
      color: black;
}
input {
    padding: 1px 15px;
    font-size: 18px;
    width: 100px;
}

.form-group{
    padding: 2.5px 15px;
    font-size: 18px;
    font-size: bold;
}

button {
    margin-top: 15px;
    background-color: rgb(46, 79, 141);
    padding: 10px 30px 10px 30px;
    font-size: 15px;
}

.top {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.863);
    color: black;
    font-weight: bold;
}

.nameInAgenda {
    color: black;
    font-size: 20px;
}


.title {
    font-size: 60px; 
    color:#fff; 
    text-decoration: none;
}

.weatherPhoto {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
  
.dayOne {
    background-color: white;
    color: black;
    padding-top: 10px;
}

p {
    color: black;
}

.date {
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.weather {
    margin-top: 15px;
<<<<<<< HEAD
}
=======
}

.currentAgenda {
    padding-left: 20px;
}

/* css for textbox */

>>>>>>> 4d3381bbb1e1bd22bb88e84e4843feea47a12e00
